body {
  background-color: #373737;
}

body::-moz-selection {
  background-color: rgba(0, 0, 0, 0.25);
}

body::selection {
  background-color: rgba(0, 0, 0, 0.25);
}

body #container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "presentation" "about-me" "my-works";
  width: 100%;
}

body #container #header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  overflow: hidden;
  position: fixed;
  width: 100%;
  -webkit-transition: top 350ms ease-in-out;
  transition: top 350ms ease-in-out;
  z-index: 10;
}

body #container #header #header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  background-color: #464646;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}

body #container #header #header-content #logo {
  display: inherit;
  width: 20%;
  height: inherit;
  margin: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  text-align: center;
  background-color: #e1e155;
  color: #000000;
  font-weight: normal;
  font-size: 32px;
  font-family: "Oleo Script";
}

body #container #header #header-content #logo p {
  margin: 0;
}

body #container #header #header-content ul {
  color: white;
  list-style: none;
}

body #container #header #header-content ul li {
  display: inline-block;
  margin-right: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body #container #header #header-content ul li span {
  padding: 27px 10px;
  opacity: .65;
  font-family: Comfortaa;
  font-size: 15px;
  -webkit-transition: opacity 150ms ease-in, background-color 200ms ease-in;
  transition: opacity 150ms ease-in, background-color 200ms ease-in;
}

body #container #header #header-content ul li span:hover {
  cursor: pointer;
  opacity: 1;
}

body #container #header #header-content ul li#active span {
  opacity: 1;
  background-color: rgba(158, 158, 158, 0.2);
}

body #container #header #header-content ul li#active span:hover {
  cursor: default;
}

body #container #header #progress-bar {
  z-index: 11;
  width: 100%;
  height: 5px;
}

body #container #header #progress-bar #progress-fill {
  height: 100%;
  width: 0;
  border-radius: 3px;
  background-color: white;
}

body #container #presentation {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: presentation;
  position: relative;
  width: 100%;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(PresentationBG.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

body #container #presentation #presentation-text {
  position: inherit;
  font-family: Montserrat;
  text-align: center;
  font-size: 50px;
  top: 140px;
  color: white;
  line-height: 70px;
}

body #container #presentation #presentation-text h1, body #container #presentation #presentation-text #name-code, body #container #presentation #presentation-text #available, body #container #presentation #presentation-text::after {
  position: inherit;
}

body #container #presentation #presentation-text h1 {
  font-size: 120px;
  margin: 10px;
  margin-bottom: 50px;
  -webkit-animation: fade-in-left 800ms ease-out 450ms backwards;
          animation: fade-in-left 800ms ease-out 450ms backwards;
}

@-webkit-keyframes fade-in-left {
  from {
    left: -250px;
    opacity: 0;
  }
  60% {
    left: 50px;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}

@keyframes fade-in-left {
  from {
    left: -250px;
    opacity: 0;
  }
  60% {
    left: 50px;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}

body #container #presentation #presentation-text #name-code {
  -webkit-animation: fade-in-right 1s ease-out 1.5s backwards;
          animation: fade-in-right 1s ease-out 1.5s backwards;
}

@-webkit-keyframes fade-in-right {
  from {
    right: -200px;
    opacity: 0;
  }
  to {
    right: 0px;
    opacity: 1;
  }
}

@keyframes fade-in-right {
  from {
    right: -200px;
    opacity: 0;
  }
  to {
    right: 0px;
    opacity: 1;
  }
}

body #container #presentation #presentation-text #name-code #code {
  background-color: black;
  color: #24f312;
  font-family: "Source Code Pro";
  padding: 3px 10px;
}

body #container #presentation #presentation-text #name-code #code::after {
  content: '_';
  position: relative;
  bottom: 6px;
  padding: 3px 0px;
  -webkit-animation: intermitance 1s step-end 100ms infinite backwards;
          animation: intermitance 1s step-end 100ms infinite backwards;
}

@-webkit-keyframes intermitance {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes intermitance {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

body #container #presentation #presentation-text #name-code #code:hover {
  cursor: default;
}

body #container #presentation #presentation-text #name-code #code::-moz-selection {
  color: #24f312;
  background-color: transparent;
}

body #container #presentation #presentation-text #name-code #code::selection {
  color: #24f312;
  background-color: transparent;
}

body #container #presentation #presentation-text #available {
  color: #f0f023;
  -webkit-animation: fade-in-down 600ms ease-out 2.5s backwards;
          animation: fade-in-down 600ms ease-out 2.5s backwards;
}

@-webkit-keyframes fade-in-down {
  from {
    opacity: 0;
    down: -150px;
  }
  to {
    opacity: 1;
    down: 0px;
  }
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    down: -150px;
  }
  to {
    opacity: 1;
    down: 0px;
  }
}

body #container #presentation #presentation-text::after {
  content: url(ScrollIndicator.svg);
  top: 15px;
  -webkit-animation: fade-in 500ms ease-in 2.8s backwards, up-and-down 1.2s ease-in-out 2.9s infinite;
          animation: fade-in 500ms ease-in 2.8s backwards, up-and-down 1.2s ease-in-out 2.9s infinite;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes up-and-down {
  from, to {
    top: 15px;
  }
  50% {
    top: 35px;
  }
}

@keyframes up-and-down {
  from, to {
    top: 15px;
  }
  50% {
    top: 35px;
  }
}

body #container #about-me {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: about-me;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #container #about-me p {
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  text-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.8);
  width: 400px;
}

body #container #about-me .circle {
  margin: 75px;
}

body #container #about-me #knowledge-board {
  display: inherit;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  background-color: #3d4bcf;
  width: 700px;
  height: 220px;
  border-radius: 50px;
  -webkit-box-shadow: 6px 8px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 6px 8px 6px rgba(0, 0, 0, 0.25);
}

body #container #about-me #knowledge-board h1, body #container #about-me #knowledge-board p {
  text-align: center;
  color: white;
}

body #container #about-me #knowledge-board p {
  width: 600px;
  font-size: 22px;
}

body #container #about-me #triangle {
  margin-top: 50px;
}

body #container #my-works {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: my-works;
  width: 100%;
  height: 800px;
  background-image: url(PresentationBG-r.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=App.css.map */